body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
/*
html{
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}
*/
:root {
  --red-accent-color: #DB2A2A;
  --gray-light-color: #f5f5f5;  
}
*{
  margin: 0;
  padding: 0;
}
.page{
  margin-top: 70px;
  padding-bottom: 50px;
  padding-top: 50px;
  min-height: calc(100vh - 140px);
  box-sizing: border-box;
  background: var(--gray-light-color);
}
h2{
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}