header{
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 10;
}
header>nav>div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
header *{ 
    font-weight: 300; 
    font-family: montserrat;
    font-size: 20px;
    color: #fff;  
    text-decoration: none;
}
header #headerBackground *{
    height: 70px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;    
}
header #headerBackground>video{
    object-fit: cover;
    z-index: 1;
}
header #headerBackground>div{
    z-index: 2;
    background-color: #484848;
    opacity: 0.2;
}
header>nav{
    z-index: 3;
    padding: 0 50px;
    display: flex;
    align-items: center;
    width: 100%;
}
header ul{
    list-style-type: none;  
    margin: 0;    
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header li{
    margin-right: 30px;
}
/*header>nav button{
    background-color: transparent;
}*/
header>nav>div>a{
    font-size: 26px;
}
header button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
