#addressFinder{
    width: 100%;
    height: 100vh;
    background-color: blue;
    position: fixed;
    top: 0;
    color: #fff;
    transition: 1s;
    z-index: 1000;
}
#addressFinderBackgroundVideo {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
#addressFinderBackgroundFilter{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #484848;
    opacity: 0.2;
}
#addressFinderContent{
    width: 100%;
    height: 100%;
    position: relative;
}
#addressFinderH1{
    margin: 0;
    position: absolute;
    top: 32%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 1300px;
    transition: 0.5s;
    font-size: 100px;
    text-align: left;
    font-weight: 700;   
} 
#addressFinderH1 p{
    margin: 0;
}
#addressFinderH1 p:last-child{
    color: #000;
}
#addressFinder nav{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;  
    height: 100px;
    line-height: 100px;
    padding: 0 60px 0 60px;
    box-sizing: border-box;
}
#addressFinder nav *{
    display: inline;
}
#addressFinder nav div{
    float: right;
}
#addressFinder nav div button{
    margin-left: 40px;
    background: none;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-family: montserrat;
}
#addressFinder nav div button:hover{
    text-decoration: none;
}
#addressFinder nav div button:first-child{
    margin-left: 0px;
}
#addressFinder nav h2{
    float: left;
    margin: 0;
    font-weight: 300;
}
#streetHouseSubmitContainer{
    position: absolute;
    margin-top: 70px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: 1s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1300px;    
}
#streetHouseSubmitContainer * {
    font-size: 20px;
}
#street{
    width: 600px;
    margin-right: 40px;
    height: 60px;
    transition: width 1s, height 1s;
}
#streetInput{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 20px;
    box-sizing: border-box;   
    font-family: montserrat; 
}
#house{
    width: 200px;
    height: 60px;
    margin-right: 40px;
    transition: width 1s, height 1s;
}
#house>button{
    width: 100%;    
    height: 100%;
    outline: none;
    background-color: #fff;  
    font-family: montserrat;  
}
#submitButton{
    width: 330px;
    height: 60px;
    outline: none;
    background-color: #DB2A2A;
    color: #fff;
    transition: width 1s, height 1s;
    font-family: montserrat;
}
#submitButton:disabled{
    background-color: #6d1616;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
}
#streetHintsList{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    max-height: 300px;
    overflow: overlay;
}
#streetHintsList button{
    width: 100%;
    padding: 0;
    height: 40px;
    background-color: #fff;
    font-family: montserrat;
}
#streetHintsList button:hover{
    background-color: #DB2A2A;
    color: #fff;
}
#houseHintsList{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    height: 300px;
    overflow: overlay;
}
#houseHintsList button{
    width: 100%;
    padding: 0;
    height: 40px;
    background-color: #fff;
    font-family: montserrat;
}
#houseHintsList button:hover{
    background-color: #DB2A2A;
    color: #fff;
}
#addressFinderFiller{
    height: 100vh;
    transition:1s;
}
/*************/
#addressFinderFiller.minimalize{
    height: 10vh;
}
#addressFinder.minimalize{ 
    height: 10vh !important;
}
.disappearance{
    opacity: 0 !important;
    position: absolute;
    top: -150px !important;
}
#street.minimalize{
    width: 320px !important;
    height: 40px !important;
}
#streetHintsList button.minimalize{
    height: 40px !important;
}
#house.minimalize{
    width: 100px !important;
    height: 40px !important;
}
#houseHintsList button.minimalize{
    height: 40px !important;
}
#submitButton.minimalize{
    width: 240px !important;
    height: 40px !important;
}
#streetHouseSubmitContainer.minimalize{
    left: 50px !important;
    top: 30px !important;
    margin: 0;
    padding-left: 0;
    transform: none;
    max-width: 600px !important;     
}
#streetHouseSubmitContainer.minimalize.disappear{
    animation: disappear steps(1, end) 1s forwards;
}
@keyframes disappear {
    0%{
        opacity: 1 !important;
    }
    100%{
        opacity: 0 !important;
        position: absolute !important;
    }
}
.show{
    display: block;
}
.hide{
    display: none;
}
/*************/