#addressFinder{
    position: absolute;
    margin-top: 70px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: 1s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1300px;    
}
#addressFinder * {
    font-size: 20px;
    font-family: montserrat;
}
#addressFinder>div:nth-child(1){
    width: 600px;
    margin-right: 40px;
    height: 60px;
    transition: width 1s, height 1s;
}
#addressFinder>div:nth-child(1)>input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 20px;
    box-sizing: border-box;
}
#addressFinder>div:nth-child(2){
    width: 200px;
    height: 60px;
    margin-right: 40px;
    transition: width 1s, height 1s;
}
#addressFinder>div:nth-child(2)>button{
    width: 100%;    
    height: 100%;
    outline: none;
    background-color: #fff; 
}
#addressFinder #submitButton{
    width: 330px;
    height: 60px;
    outline: none;
    background-color: #DB2A2A;
    color: #fff;
    transition: width 1s, height 1s;
}
#addressFinder #submitButton:disabled{
    background-color: #6d1616;
}
#addressFinder button{
    outline: none;
    border: none;
    cursor: pointer;
}
#addressFinder #streetHintsList{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    max-height: 300px;
    overflow: overlay;
}
#addressFinder #streetHintsList button{
    width: 100%;
    padding: 0;
    height: 40px;
    background-color: #fff;
}
#addressFinder #streetHintsList button:hover{
    background-color: #DB2A2A;
    color: #fff;
}
#addressFinder #houseHintsList{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    height: 300px;
    overflow: overlay;
}
#addressFinder #houseHintsList button{
    width: 100%;
    padding: 0;
    height: 40px;
    background-color: #fff;
}
#addressFinder #houseHintsList button:hover{
    background-color: #DB2A2A;
    color: #fff;
}
.show{
    display: block;
}
.hide{
    display: none;
}
/******************************************************/
#addressFinder.minimize{
    position: static;
    margin-top: 50px;
    top: 55%;
    left: 50%;
    transform: none; 
    transition: 1s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;    
}
#addressFinder * {
    font-size: 20px;
    font-family: montserrat;
}
#addressFinder>div:nth-child(1){
    width: 600px;
    margin-right: 40px;
    height: 60px;
    transition: width 1s, height 1s;
}
#addressFinder>div:nth-child(1)>input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 20px;
    box-sizing: border-box;
}
#addressFinder>div:nth-child(2){
    width: 200px;
    height: 60px;
    margin-right: 40px;
    transition: width 1s, height 1s;
}
#addressFinder>div:nth-child(2)>button{
    width: 100%;    
    height: 100%;
    outline: none;
    background-color: #fff; 
}
#addressFinder #submitButton{
    width: 330px;
    height: 60px;
    outline: none;
    background-color: #DB2A2A;
    color: #fff;
    transition: width 1s, height 1s;
}
#addressFinder #submitButton:disabled{
    background-color: #6d1616;
}
#addressFinder button{
    outline: none;
    border: none;
    cursor: pointer;
}
#addressFinder #streetHintsList{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    max-height: 300px;
    overflow: overlay;
}
#addressFinder #streetHintsList button{
    width: 100%;
    padding: 0;
    height: 40px;
    background-color: #fff;
}
#addressFinder #streetHintsList button:hover{
    background-color: #DB2A2A;
    color: #fff;
}
#addressFinder #houseHintsList{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    height: 300px;
    overflow: overlay;
}
#addressFinder #houseHintsList button{
    width: 100%;
    padding: 0;
    height: 40px;
    background-color: #fff;
}
#addressFinder #houseHintsList button:hover{
    background-color: #DB2A2A;
    color: #fff;
}
.show{
    display: block;
}
.hide{
    display: none;
}