#tariffsForAddress{
    font-size: 20px;
    margin-top: 40px;    
}
#tariffsForAddress .table{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 3px;
    border-bottom: none;
    width: 1500px;
    margin: auto;
    background-color: #fff;
}
#tariffsForAddress .row{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000;
}
#tariffsForAddress .cell{
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    box-sizing: border-box;    
}
#tariffsForAddress .cell>p:nth-child(1){
    font-size: 24px;
}
#tariffsForAddress .cell.columnSpeed>*:nth-child(2), #tariffsForAddress .cell.columnChannels>*:nth-child(2) {
    margin-top: 10px;
}
#tariffsForAddress .columnOptions{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#tariffsForAddress .columnOptions i{
    color: #A8A8A8;
    font-size: 25px;
}
#tariffsForAddress .columnOptions i.active{
    color: var(--red-accent-color);
}
#tariffsForAddress .columnPrice{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#tariffsForAddress .columnPrice div:nth-child(1){
    display:flex;
    flex-direction: column;
}
#tariffsForAddress .columnPrice a:not(:first-child){
    color: #fff;
    background-color: var(--red-accent-color);
    padding: 10px 20px;
    border: none;
    margin: 0;
    text-decoration: none;
}
#tariffsForAddress .columnPrice a:hover{
    background-color: #ec2d2d;
}
#tariffsForAddress .columnPrice div p:nth-child(1){
    font-size: 30px;
}
#tariffsForAddress .columnPrice div p:nth-child(2){
    font-size: 16px;
}
#tariffsForAddress .columnProvider{
    width: 180px;
}
#tariffsForAddress .columnSpeed, #tariffsForAddress .columnChannels{
    width: 135px;
}
#tariffsForAddress .columnMobile{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#tariffsForAddress .columnMobile>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#tariffsForAddress .columnMobile>div>p:nth-child(2){
    margin-top: 10px;
}
#tariffsForAddress .columnMobile>div>img{
    margin: 0;
}
#tariffsForAddress .cell img{
    width: 130px;
    margin: auto;
}
#tariffsForAddress .cell p{
    margin: 0;
    display: inline;
}
#tariffsForAddress .cell button{
    margin: auto;
}
#tariffsForAddress .cell:not(.columnPrice){
    border-right: 1px solid #000;
}
#tariffsForAddress .cell:not(.columnMobile){
    align-items: center;
}
#tariffsForAddress button{
    outline: none;
    cursor: pointer;  
    border: 1px solid #000;  
    border-radius: 2px;
}
#tariffsForAddress button:hover{
    background-color: rgb(216, 216, 216);
}
#tariffsForAddress #row0 button{
    border: none;
    width: 100%;
    height: 100%; 
    padding: 0;
    font-size: 20px;
    font-family: montserrat;
}
#tariffsForAddress #row0 .cell{
    height: 65px;
}
#tariffsForAddress .columnPrice button{
    border: 1px solid #000;
    box-sizing: border-box;
}
#tariffsForAddress .row .columnPrice button:hover{
    border: 1px solid #000;
}
#tariffsForAddress .dash{
    width: 18px;
    height: 2px;
    background-color: rgb(124, 124, 124);
    margin: 10px 0;
}
#infinitySymbol{
    height: 15px;
    width: auto !important;
    margin: 4.5px 0 !important;
}
.optionSymbol{
    position: relative;
}
.optionSymbol span {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    width: 150px;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    font-size: 16px;
    border: 1px solid #000;
    background-color: #fff;
    box-sizing: border-box;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 11;
  }
  
  .optionSymbol:hover span {
    visibility: visible;
  }
  .optionSymbol i {
      color: var(--red-accent-color);
  }
